body {
    background-image: url("../images/vintage-concrete.png");
    margin: 0;
}

.header {
    background-color: #fff;
    border: 2px solid #ccc;
    overflow: hidden;
    font-family: 'Georgia', Times, Times New Roman, serif;
    text-align: center;
} 

.header h1 {
    background-color: #4aaaa5;
    color: #fff;
    font-size: 26px;
    float: left;
    width: 200px;
    text-align: center; 
    margin: 0 auto;  
}

.header-right {
    float: right;
}

.header-right a {
    padding: 10px;
}

.header-right {

}

h2 {
   color: #4aaaa5;
   border-bottom: 2px solid #ccc; 
}

#about-me {
    padding-left: 28px;
    padding-right: 28px;
     
}

#about-me,
#portfolio-image {
    float: left;
    display: inline-block;
}

#portfolio-image {
    width: 200px;
    height: 300px;
    margin-right: 20px;
    margin-top: 8px;
}

.p-index {
    line-height: 1.8;
    margin-top: 8px;
    clear: left;
}

#hobbies {
    clear: both;
    float: right;
}

.container {
    max-width: 960px;
    min-width: 400px;
    min-height: 475px;
    background-color: white;
    border: 2px solid #cccccc;
    margin: 0 auto;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    margin-top: 25px;
}

#hobbies { 
    margin-bottom: 100px;
}

.footer {
    background-color: darkgray;
    position: fixed;
    text-align: center;
    width: 100%;
    bottom: 0;
    left: 0;
    border-top: 7px solid #4aaaa5;
}
